.cl-widget-ms-wrapper,
.cl-widget-notif-wrapper {
    float: left;
    width: 100%;
    max-width: 300px;
    min-width: 260px;
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    z-index: 1000;
    overflow: unset;
    visibility: visible;
    outline: none;
    font-family: 'Syne', sans-serif;
    font-weight: 300;
    border: none;
    display: block;
    left: 10px;
    top: 10px;
}

.cl-widget-ms-wrapper *,
.cl-main-widget-wrapper *,
.cl-widget-notif-wrapper * {
    box-sizing: border-box;
    line-height: 20px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    color: var(--primary-font-color);
    vertical-align: baseline;
    background: none;
}

.cl-widget-ms-wrapper {
    &.cl-hide {
        width: 0;
        height: 0;

        .cl-widget-ms-information-top-wrapper {
            width: 0;
            height: 0;
        }

        &.cl-vertical-mini .cl-widget-ms-information-top-wrapper {
            height: 0;
            min-height: 0;
            margin: 0 0 0 25px;
            padding: 0;
            transition: all ease-out .1s;

            .cl-widget-ms-information-wrapper {
                height: 0;
                padding: 0;
                border: none;
                transition: all ease-out .1s;
            }
        }
    }

    .cl-widget-ms-icon-wrapper {
        position: absolute;
        left: 6px;
        top: -14px;
        z-index: 2;

        .cl-widget-ms-icon {
            display: block;
            min-height: 100%;
            background-image: $lb3-widget-icon;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            width: 62px;
            height: 62px;
            background-size: 62px 62px;
        }
    }

    &.cl-vertical-mini .cl-widget-ms-icon-wrapper {
        left: 13px;
        top: -5px;
    }

    .cl-widget-ms-information-top-wrapper {
        display: block;
        position: relative;
        float: left;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        margin: 5px 0 0 25px;
        min-height: 50px;
    }

    .cl-widget-ms-information-wrapper {
        display: block;
        float: left;
        width: 0;
        background: var(--lb-widget-bg-color);
        border: 1px solid var(--lb-widget-border-color);
        border-radius: 20px;
        color: var(--lb3-widget-text-color);
        padding: 0;
        min-height: 0;
        transition: left 0.3s ease;
        position: relative;
        left: -10px;
        opacity: 0;
        margin: 0;

        &.cl-show {
            opacity: 1;
            left: 0;
            padding: 0 14px 14px 50px;
            min-height: 58px;
            width: 100%;
        }

        .time-ind {
            font-size: 7px;
        }
    }

    .cl-widget-ms-information-close-wrapper {
        position: absolute;
        top: -10px;
        right: -10px;
        z-index: 1;
        background: var(--lb3-close-btn-bg-color);
        width: 32px;
        height: 32px;
        border-radius: 100%;
        border: 1px solid #223241;
    }

    .cl-widget-ms-information-close {
        float: left;
        background: var(--lb3-miniscoreboard-close-btn-back);
        width: 16px;
        height: 16px;
        color: var(--lb3-miniscoreboard-close-btn-color);
        text-decoration: none;
        text-align: center;
        border-radius: 100%;
        margin: 7px 0 0 7px;
        line-height: 14px;
        font-size: var(--lb3-miniscoreboard-close-btn-font-size);
    }

    /** Opt-in layout **/
    .cl-widget-ms-optin-wrapper {
        float: left;
        width: 100%;
        padding: 0 0 6px 8px;

        .cl-widget-ms-optin-date-wrapper {
            float: left;
            width: 100%;
            text-transform: uppercase;
            font-size: 11px;
            line-height: 20px;
        }

        .cl-widget-ms-optin-date-label {
            float: left;
            width: 40%;
        }

        .cl-widget-ms-optin-date {
            float: left;
            width: 60%;
            text-align: right;
            padding: 0 12px 0 0;
        }

        .cl-widget-ms-optin-action-wrapper {
            float: left;
            width: 100%;
            padding-top: 10px;
        }

        .cl-widget-ms-optin-action {
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;
            height: 36px;
            background: #ee3ec8;
            border-radius: 10px;
            color: var(--lb3-rewards-item-label-color);
            font-weight: 700;
            font-size: 14px;
            line-height: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
            padding: 0 20px;
            text-decoration: none;

            &.checking {
                opacity: 0.4;
                cursor: not-allowed;
                pointer-events: none;
            }
        }
    }

    /** Default layout **/
    .cl-widget-ms-default-wrapper {
        float: left;
        width: 100%;
        font-size: 11px;
        line-height: 20px;

        .cl-widget-ms-default-results-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .cl-widget-ms-default-results-headers {
            width: 100%;
            padding: 6px 0 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--lb-widget-header-text-color);
        }

        .cl-widget-ms-default-results-header-rank {
            text-align: left;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            padding: 0 20px 0 34px;
        }

        .cl-widget-ms-default-results-header-points {
            text-align: left;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            padding-right: 34px;
        }

        .cl-widget-ms-default-date-wrapper {
            float: left;
            width: 100%;
            padding: 0;
            font-size: 10px;
            line-height: 12px;
        }

        .cl-widget-ms-default-date-label {
            float: left;
            width: 40%;
            text-transform: uppercase;
        }

        .cl-widget-ms-default-date {
            float: left;
            width: 60%;
            text-transform: uppercase;
        }

        &.cl-inverse {
            .cl-widget-ms-default-date-label {
                float: left;
                width: 70%;
                text-align: center;
            }

            .cl-widget-ms-default-date {
                float: left;
                width: 30%;
                text-align: center;
                color: var(--lb3-miniscoreboard-date-color);
            }

            .cl-widget-ms-default-date-only .cl-widget-ms-default-date-label {
                height: 10px;
                width: 30%;
            }

            .cl-widget-ms-default-date-only .cl-widget-ms-default-date {
                color: var(--lb3-widget-date-text-color);
                text-align: right;
                float: right;
                width: 58%;
                padding: 0 15px 0 0;
            }
        }
    }

    .cl-widget-ms-first-to-mem-entry,
    .cl-widget-ms-default-mem-entry {
        width: 100%;
        height: 30px;
        border-radius: 10px;
        display: flex;
        align-items: center;
    }

    .cl-widget-ms-default-mem-entry:nth-child(odd) {
        background: #141E28;
    }

    .cl-widget-ms-default-mem-entry {
        .cl-widget-ms-default-mem-label {
            float: left;
            width: 30px;
            height: 16px;
            line-height: 16px;
            background: none;
            font-weight: bold;
            padding: 0 4px 0 4px;
        }

        .cl-widget-ms-default-mem-rank {
            float: left;
            width: 57px;
            padding: 0 10px 0 0;
            text-align: right;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #ffffff;

            .cl-mem-rank-1 {
                display: block;
                background-image: url(../../images/gold.svg);
                background-repeat: no-repeat;
                background-position: 2px 3px;
                height: 26px;
                width: 33px;
                font-size: 13px;
                line-height: 24px;
                transform: translate(27px, 0);
                text-align: center;
            }

            .cl-mem-rank-2 {
                display: block;
                background-image: url(../../images/silver.svg);
                background-repeat: no-repeat;
                background-position: 2px 3px;
                height: 26px;
                width: 33px;
                font-size: 13px;
                line-height: 24px;
                transform: translate(27px, 0);
                text-align: center;
            }

            .cl-mem-rank-3 {
                display: block;
                background-image: url(../../images/bronze.svg);
                background-repeat: no-repeat;
                background-position: 2px 3px;
                height: 26px;
                width: 33px;
                font-size: 13px;
                line-height: 24px;
                transform: translate(27px, 0);
                text-align: center;
            }
        }

        .cl-widget-ms-default-mem-icon {
            float: left;
            width: 26px;
        }

        .cl-widget-ms-default-mem-img {
            float: left;
            height: 16px;
        }

        .cl-widget-ms-default-mem-points {
            float: left;
            width: 100px;
            text-align: right;
            line-height: 16px;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            color: #FFFFFF;
        }
    }

    &.cl-ms-default-style {
        .cl-widget-ms-information-top-wrapper {
            height: auto;
        }

        .cl-widget-ms-information-wrapper {
            height: auto;
        }
    }

    /** Vertical Mini styles **/
    &.cl-vertical-mini {
        max-width: 88px;
        min-width: 88px;

        .cl-widget-ms-information-top-wrapper {
            display: block;
            position: relative;
            float: left;
            left: -25px;
            top: 32px;
            z-index: 1;
            width: 88px;
            margin: 5px 0 0 25px;
            height: 200px;

            .cl-widget-ms-default-wrapper {
                .cl-widget-ms-default-mem-entry {
                    display: none;

                    &.cl-widget-ms-default-mem-self {
                        display: block;
                        background: none !important;
                        border: none !important;
                        box-shadow: none !important;
                    }
                }

                .cl-widget-ms-default-date-label,
                .cl-widget-ms-default-date {
                    width: 100%;
                    padding: 0;
                    text-align: center;
                }

                .cl-widget-ms-default-results-headers,
                .cl-widget-ms-default-mem-label,
                .cl-widget-ms-default-mem-icon {
                    display: none;
                }

                .cl-widget-ms-default-mem-rank,
                .cl-widget-ms-default-mem-points {
                    width: 100%;
                    text-align: center;
                    padding: 0;
                }

                .cl-mem-rank-label {
                    display: block;
                    font-size: 11px;
                    padding: 10px 0 0 0;
                    color: var(--lb3-miniscoreboard-rank-label-color);
                    text-transform: uppercase;
                }

                .cl-mem-rank {
                    font-size: 16px;
                    line-height: 40px;

                    &.cl-mem-rank-1,
                    &.cl-mem-rank-2,
                    &.cl-mem-rank-3 {
                        transform: translate(20px, 0);
                        font-size: 14px;
                        line-height: 23px;
                    }
                }

                .cl-mem-points-label {
                    display: block;
                    font-size: 11px;
                    padding: 10px 0 0 0;
                    color: var(--lb3-miniscoreboard-points-label-color);
                    text-transform: uppercase;
                }

                .cl-mem-points {
                    font-size: 14px;
                }
            }
        }

        .cl-widget-ms-information-wrapper {
            display: block;
            float: left;
            width: 100%;
            background: var(--lb-widget-bg-color);
            border: 2px solid var(--lb-widget-border-color);
            border-radius: 10px;
            color: var(--lb3-widget-text-color);
            padding: 27px 5px 0 5px;
            height: 205px;
            transition: all 0.3s ease;
            position: relative;
            left: 0;
            top: -10px;
            opacity: 0;
            margin: 0;

            &.cl-show {
                opacity: 1;
                top: 0;
            }

            .time-ind {
                font-size: 9px;
            }
        }

        .cl-widget-ms-information-close-wrapper {
            position: absolute;
            bottom: -13px;
            right: 28px;
            top: unset;
            z-index: 1;
            background: var(--lb3-miniscoreboard-close-btn-back);
            width: 30px;
            height: 30px;
            border-radius: 100%;
            border-color: transparent;
        }
    }
}

/** First To layout **/
.cl-widget-ms-wrapper {
    .cl-widget-ms-first-to-wrapper {
        float: left;
        width: 100%;
        font-size: 11px;
        line-height: 20px;

        .cl-widget-ms-first-to-date-wrapper {
            float: left;
            width: 100%;
            padding: 2px 0 2px 0;
            font-size: 10px;
            line-height: 12px;
        }

        .cl-widget-ms-first-to-date-label {
            float: left;
            width: 40%;
            text-transform: uppercase;
        }

        .cl-widget-ms-first-to-date {
            float: left;
            width: 60%;
            text-transform: uppercase;
        }

        &.cl-inverse {
            .cl-widget-ms-first-to-date-label {
                float: left;
                width: 70%;
                text-align: center;
            }

            .cl-widget-ms-first-to-date {
                float: left;
                width: 30%;
                text-align: center;
                color: var(--lb3-widget-date-text-color);
            }

            .cl-widget-ms-first-to-date-only .cl-widget-ms-first-to-date-label {
                height: 10px;
                width: 30%;
            }

            .cl-widget-ms-first-to-date-only .cl-widget-ms-first-to-date {
                color: var(--lb3-widget-date-text-color);
                text-align: right;
                float: right;
                width: 55%;
                padding: 0 15px 0 0;
            }
        }
    }

    .cl-widget-ms-first-to-mem-entry {
        float: left;
        width: 100%;
        padding: 0 0 5px 0;

        .cl-widget-ms-first-to-mem-label {
            float: left;
            width: 30px;
            height: 16px;
            line-height: 16px;
            background: none;
            font-weight: bold;
            padding: 0 4px 0 0;
        }

        .cl-widget-ms-first-to-mem-rank {
            float: left;
            width: 53px;
            line-height: 16px;
            padding: 0 5px 0 0;
            text-align: right;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .cl-widget-ms-first-to-mem-icon {
            float: left;
            width: 26px;
        }

        .cl-widget-ms-first-to-mem-img {
            float: left;
            height: 16px;
        }

        .cl-widget-ms-first-to-mem-points {
            float: left;
            width: 90px;
            text-align: right;
            line-height: 16px;
        }
    }

    &.cl-ms-first-to-style {
        .cl-widget-ms-information-top-wrapper {
            height: auto;
        }

        .cl-widget-ms-information-wrapper {
            height: auto;
        }
    }

    &.cl-vertical-mini .cl-widget-ms-information-top-wrapper .cl-widget-ms-first-to-wrapper {
        .cl-widget-ms-first-to-mem-entry {
            display: none;

            &.cl-widget-ms-first-to-mem-self {
                display: block;
            }
        }

        .cl-widget-ms-first-to-date-label {
            display: none;
        }

        .cl-widget-ms-first-to-date {
            width: 100%;
            padding: 0;
            text-align: center;
        }

        .cl-widget-ms-first-to-results-headers,
        .cl-widget-ms-first-to-mem-label,
        .cl-widget-ms-first-to-mem-icon {
            display: none;
        }

        .cl-widget-ms-first-to-mem-rank,
        .cl-widget-ms-first-to-mem-points {
            width: 100%;
            text-align: center;
            padding: 0;
        }

        .cl-mem-rank-label {
            display: block;
            font-size: 11px;
            padding: 10px 0 0 0;
            color: var(--lb3-miniscoreboard-vertical-first-to-rank-color);
            text-transform: uppercase;
        }

        .cl-mem-rank {
            font-size: 16px;
            line-height: 40px;
        }

        .cl-mem-points-label {
            display: block;
            font-size: 11px;
            padding: 10px 0 0 0;
            color: var(--lb3-miniscoreboard-vertical-first-to-points-color);
            text-transform: uppercase;
        }

        .cl-mem-points {
            font-size: 14px;
        }
    }
}

/** Sum of Best layout **/
.cl-widget-ms-wrapper {
    .cl-widget-ms-sum-best-wrapper {
        float: left;
        width: 100%;
        font-size: 11px;
        line-height: 20px;
        padding-left: 8px;

        .cl-widget-ms-sum-best-date-wrapper {
            float: left;
            width: 100%;
            padding: 2px 0 2px 0;
            font-size: 10px;
            line-height: 12px;
        }

        .cl-widget-ms-sum-best-date-label {
            float: left;
            width: 40%;
            text-transform: uppercase;
        }

        .cl-widget-ms-sum-best-date {
            float: left;
            width: 60%;
            text-transform: uppercase;
        }

        &.cl-inverse {
            .cl-widget-ms-sum-best-date-label {
                float: left;
                width: 70%;
                text-align: center;
                line-height: 17px;
            }

            .cl-widget-ms-sum-best-date {
                font-weight: 700;
                font-size: 12px;
                line-height: 17px;
                color: var(--lb-widget-header-text-color);
                float: left;
                width: 30%;
                text-align: center;
            }
        }

        .cl-widget-ms-sum-best-area {
            float: left;
            width: 68%;
        }

        .cl-widget-ms-sum-best-high-area,
        .cl-widget-ms-sum-best-last-area {
            float: left;
            width: 100%;
            padding: 0 5px 0 0;
            line-height: 14px;
        }

        .cl-widget-ms-sum-best-high-label,
        .cl-widget-ms-sum-best-last-label {
            float: left;
            width: 60%;
            text-align: left;
            color: #c7c7c7;
            font-size: 9px;
            text-transform: uppercase;
        }

        .cl-widget-ms-sum-best-high-score,
        .cl-widget-ms-sum-best-last-score {
            float: left;
            width: 40%;
            text-align: right;
            color: var(--light-font-color);
            font-size: 10px;
        }

        .cl-widget-ms-sum-best-rank-area {
            float: left;
            width: 32%;
            text-align: center;
        }

        .cl-widget-ms-sum-best-rank-value {
            text-align: center;
            position: relative;
            z-index: 1;

            &.cl-ms-rank-up::before,
            &.cl-ms-rank-down::before {
                display: none;
                content: "";
                position: absolute;
                background-repeat: no-repeat;
                background-position: 0 4px;
                background-size: 100%;
                width: 11px;
                height: 15px;
                left: 0;
                top: 0;
            }

            &.cl-ms-rank-up::before {
                background-image: url(../../images/growth-arrow-icon.svg);
            }

            &.cl-ms-rank-down::before {
                background-image: url(../../images/fall-arrow-icon.svg);
            }
        }
    }

    &.cl-vertical-mini {
        .cl-widget-ms-sum-best-wrapper {
            padding-left: 0;

            .cl-widget-ms-sum-best-date-wrapper {
                padding: 0 0 10px 0;
            }

            &.cl-inverse {
                .cl-widget-ms-sum-best-date-label {
                    width: 100%;
                    text-align: center;
                    font-size: 10px;
                }

                .cl-widget-ms-sum-best-date {
                    display: none;
                }
            }

            .cl-widget-ms-sum-best-area,
            .cl-widget-ms-sum-best-rank-area {
                width: 100%;
            }

            .cl-widget-ms-sum-best-high-area,
            .cl-widget-ms-sum-best-last-area {
                padding: 0;
                line-height: 12px;
            }

            .cl-widget-ms-sum-best-high-label,
            .cl-widget-ms-sum-best-last-label {
                width: 100%;
                text-align: center;
            }

            .cl-widget-ms-sum-best-high-score,
            .cl-widget-ms-sum-best-last-score {
                width: 100%;
                text-align: center;
                font-size: 12px;
                padding: 3px 0 10px 0;
                line-height: 17px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .cl-widget-ms-sum-best-rank-value {
                width: 100%;
                font-size: 14px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                &.cl-ms-rank-same {
                    padding: 0;
                }

                &.cl-ms-rank-up::before,
                &.cl-ms-rank-down::before {
                    background-position: 0 6px;
                }
            }
        }

        .cl-widget-ms-optin-wrapper {
            padding: 0;

            .cl-widget-ms-optin-date-label,
            .cl-widget-ms-optin-date {
                width: 100%;
                text-align: center;
            }

            .cl-widget-ms-optin-date {
                padding: 0 0 20px 0;
            }

            .cl-widget-ms-optin-action {
                font-size: 10px;
                white-space: break-spaces;
                text-align: center;
                min-height: 36px;
            }
        }
    }
}