.cl-main-widget-navigation-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    padding-top: 20px;
    width: 148px;
    height: 100%;
    z-index: 2;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 4px;
        background: #141E28;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #304F69;
    }

    .cl-main-widget-navigation-logo {
        width: 68px;
        height: 68px;
        background-image: $lb3-widget-icon-nav;
        background-size: contain;
        background-repeat: no-repeat;
        flex-shrink: 0;
    }

    .cl-main-widget-navigation-items {
        padding: 46px 0 0 0;
        flex-grow: 1;

        .cl-main-widget-navigation-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 108px;
            min-height: 67px;
            margin-bottom: 20px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            cursor: pointer;

            &.cl-active-nav {
                background: #EE3EC8;
                border-radius: 10px;
            }

            &.hidden {
                display: none;
            }
        }

        .cl-hidden-navigation-item {
            display: none;
        }
    }

    .cl-main-navigation-item {
        position: relative;

        .cl-main-navigation-item-count {
            position: absolute;
            top: 4px;
            right: 3px;
            width: auto;
            padding: 0 3px;
            border-radius: 50%;
            font-size: 10px;
            color: var(--primary-font-color);
            background: var(--primary-background-color);
            min-width: 18px;
            text-align: center;
            line-height: 15px;
        }
    }

    .cl-active-nav .cl-main-navigation-item .cl-main-navigation-item-count {
        top: 10px;
        line-height: 18px;
        font-size: 12px;
    }

    // Icons
    .cl-main-widget-navigation-dashboard-icon,
    .cl-main-widget-navigation-lb-icon,
    .cl-main-widget-navigation-ach-icon,
    .cl-main-widget-navigation-rewards-icon,
    .cl-main-widget-navigation-inbox-icon,
    .cl-main-widget-navigation-missions-icon {
        display: block;
        height: 32px;
        width: 32px;
        margin-top: 6px;
        margin-bottom: 5px;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .cl-main-widget-navigation-dashboard-icon {
        background-image: $lb3-dashboard-icon;
    }

    .cl-main-widget-navigation-lb-icon {
        background-image: $lb3-tournament-icon;
    }

    .cl-main-widget-navigation-ach-icon {
        background-image: $lb3-achievements-icon;
    }

    .cl-main-widget-navigation-rewards-icon {
        background-image: $lb3-rewards-icon;
        opacity: 0.7;
    }

    .cl-main-widget-navigation-inbox-icon {
        background-image: $lb3-messages-icon;
        opacity: 0.7;
    }

    .cl-main-widget-navigation-missions-icon {
        background-image: $lb3-missions-icon;
        opacity: 0.7;
    }

    // Hover/Active states
    .cl-main-widget-navigation-item:hover {
        opacity: 0.8;

        .cl-main-widget-navigation-dashboard-icon,
        .cl-main-widget-navigation-lb-icon,
        .cl-main-widget-navigation-ach-icon,
        .cl-main-widget-navigation-rewards-icon,
        .cl-main-widget-navigation-inbox-icon,
        .cl-main-widget-navigation-missions-icon {
            opacity: 1;
        }
    }

    .cl-active-nav,
    .cl-active-nav:hover {
        opacity: 1;

        .cl-main-widget-navigation-dashboard-icon,
        .cl-main-widget-navigation-lb-icon,
        .cl-main-widget-navigation-ach-icon,
        .cl-main-widget-navigation-rewards-icon,
        .cl-main-widget-navigation-inbox-icon,
        .cl-main-widget-navigation-missions-icon {
            opacity: 1;
        }
    }

    // Theme Toggle
    .cl-main-widget-navigation-darkMode-toggle {
        padding-bottom: 45px;

        label {
            width: 40px;
            height: 73px;
            position: relative;
            display: block;
            background: #304F69 url(../../images/sun-dark.svg) no-repeat center 13%;
            border-radius: 30px;
            cursor: pointer;
            transition: 0.3s;

            &::after {
                content: "";
                width: 40px;
                height: 40px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: #EE3EC8 url(../../images/moon.svg) no-repeat center center;
                border-radius: 50%;
                transition: 0.3s;
            }
        }

        input {
            width: 0;
            height: 0;
            visibility: hidden;

            &:checked+label {
                background: #DCE6EF url(../../images/moon-light.svg) no-repeat center 86%;

                &::after {
                    transform: translateY(-34px);
                    background: #EE3EC8 url(../../images/sun.svg) no-repeat center center;
                }
            }
        }
    }
}

.cl-hidden-navigation .cl-main-widget-navigation-container {
    display: none;
}