.cl-main-widget-wrapper {
    .cl-col {
        color: var(--lb3-tournament-container-text-color);
        line-height: var(--lb3-tournament-container-line-height);
        background: none;
        height: var(--lb3-tournament-container-height);
    }

    .paginator {
        margin-top: 10px;
        margin-right: 0;
        display: flex;
        justify-content: flex-end;
        width: 100%;

        &-item {
            display: inline-block;
            width: 30px;
            height: 30px;
            border: 1px solid #333333;
            border-radius: 5px;
            cursor: pointer;
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 26px;
            text-align: center;
            margin-left: 6px;
            flex-shrink: 0;

            &.active {
                background: #2F0426;
                border: 1px solid #406A8C;
                box-shadow: 0 2px 12px rgba(64, 106, 140, 0.5);
            }

            &.prev {
                background: $pagination-prev-icon no-repeat center;
            }

            &.next {
                background: $pagination-next-icon no-repeat center;
            }
        }

        &.accordion {
            padding: 42px 12px 0 12px;
        }
    }

    .paginator-finished,
    .paginator-ready,
    .paginator-active,
    .paginator-claimed,
    .paginator-available {
        display: none;
    }

    .cl-shown {

        .paginator-finished,
        .paginator-ready,
        .paginator-active {
            display: flex;
        }

        .paginator-claimed {
            padding-right: 0;
            padding-top: 0;
            display: flex;
        }

        .paginator-available {
            padding-right: 0;
            padding-top: 20px;
            display: flex;
        }
    }

    // Footer common
    .cl-main-widget-lb-footer,
    .cl-main-widget-ach-footer,
    .cl-main-widget-reward-footer,
    .cl-main-widget-inbox-footer,
    .cl-main-widget-missions-footer {
        width: 100%;
        height: 22px;
        position: absolute;
        bottom: 20px;
        left: 0;
        z-index: 2;
    }

    .cl-hidden-copyright {

        .cl-main-widget-lb-footer,
        .cl-main-widget-ach-footer,
        .cl-main-widget-reward-footer,
        .cl-main-widget-inbox-footer {
            display: none;
        }
    }

    .cl-main-widget-lb-footer-content,
    .cl-main-widget-ach-footer-content,
    .cl-main-widget-reward-footer-content,
    .cl-main-widget-inbox-footer-content,
    .cl-main-widget-missions-footer-content {
        float: left;
        width: 100%;
        line-height: 22px;
        color: var(--lb3-messages-footer-text-color);
        font-size: 11px;
        text-align: center;
    }
}

// Global Accordion styles
.cl-main-accordion-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 16px;

    .cl-main-accordion-container-menu {
        display: flex;
        height: 32px;
        background: #223241;
        border-radius: 8px;
        width: fit-content;
        align-items: center;
        margin: 0 auto;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;

        .cl-main-accordion-container-menu-item {
            padding: 6px 34px;
            cursor: pointer;
            text-align: center;

            &.active {
                background: #2F0426;
                border: 1px solid #406A8C;
                box-shadow: 0 2px 12px rgba(64, 106, 140, 0.5);
                border-radius: 6px;
            }

            &.not-available {
                cursor: not-allowed;
            }
        }
    }

    .cl-accordion {
        width: 100%;
        position: relative;

        &.cl-shown {
            height: calc(100% - 40px);
            padding-top: 20px;
        }

        .cl-accordion-label {
            float: left;
            width: 100%;
            text-align: center;
            height: 26px;
            line-height: 26px;
            font-size: 14px;
            text-transform: uppercase;
            color: var(--light-font-color);
            font-weight: bold;
            position: relative;
            z-index: 1;
            background: var(--lb3-rewards-accordion-bg-color);
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background: var(--lb3-rewards-accordion-hover-color);
            }

            &::after {
                content: "+";
                color: var(--lb3-tournament-list-accordion-label-icon);
                width: 20px;
                height: 26px;
                position: absolute;
                top: 0;
                right: 30px;
                line-height: 24px;
                font-size: 23px;
            }
        }
    }

    .cl-shown .cl-accordion-label {
        background: var(--lb3-rewards-accordion-container-show-bg-color);
        color: var(--lb3-rewards-accordion-container-show-color);

        &::after {
            content: "-";
            color: var(--lb3-tournament-list-accordion-label-icon-show);
        }
    }

    .cl-accordion-entry {
        float: left;
        width: 100%;
    }

    .cl-shown .cl-accordion-entry {
        display: none;
    }

    .cl-accordion-list-container {
        width: 100%;
        height: 100%;
        overflow: auto;
        display: none;
    }

    .cl-shown .cl-accordion-list-container {
        display: block;
        border: 1px solid #223241;
        border-radius: 10px;
        background: #0f1921;
    }
}