.cl-main-widget-section-inbox {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
}

.cl-main-widget-inbox-header {
    display: flex;
    align-items: center;
    height: 84px;
    position: relative;
    z-index: 2;
    flex-shrink: 0;

    .cl-main-widget-inbox-header-label {
        width: 100%;
        text-align: center;
        line-height: 30px;
        color: var(--lb3-tournament-header-label-color);
        font-size: 24px;
        font-weight: 700;
    }

    .cl-main-widget-inbox-header-date {
        float: left;
        width: auto;
        position: absolute;
        top: 0;
        right: 50px;
        line-height: 30px;
        color: var(--lb3-messages-header-date-color);
        font-size: 11px;
        min-width: 125px;
    }

    .cl-main-widget-inbox-header-close {
        position: absolute;
        display: block;
        background-image: $lb3-messages-header-close-image;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 100%;
        width: 50px;
        height: 50px;
        right: -18px;
        top: -18px;
        cursor: pointer;
    }
}

.cl-main-widget-inbox-list {
    width: 100%;
    height: calc(100% - 134px);
    z-index: 1;
    padding-right: 56px;
    padding-left: 44px;

    &-body {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: auto;

        &-res {
            width: 100%;
            height: 100%;
            padding: 0;
            display: flex;
            flex-direction: column;
        }
    }
}

.cl-inbox-list-item {
    width: 100%;
    transition: background-color 0.3s ease;
    cursor: pointer;
    background: #141E28;
    border-radius: 10px;
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    flex-shrink: 0;

    .cl-inbox-list-details-cont {
        display: flex;
        align-items: center;
        width: 100%;
        font-weight: 500;
        font-size: 12px;
    }

    .cl-inbox-list-details-wrap {
        float: left;
        width: 100%;
    }

    .cl-inbox-list-details-date {
        width: 160px;
        text-align: right;
    }

    .cl-inbox-list-details-label {
        float: left;
        width: 100%;
        color: var(--lb3-messages-item-label-color);
        font-weight: 500;
        font-size: 14px;
    }

    .cl-inbox-list-details-description {
        float: left;
        width: 100%;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: var(--lb3-messages-item-text-color);
    }

    &.read {

        .cl-inbox-list-details-date,
        .cl-inbox-list-details-description,
        .cl-inbox-list-details-label {
            color: rgba(255, 255, 255, 0.5);
        }
    }
}

.cl-main-widget-inbox-details-container {
    position: absolute;
    height: calc(100% - 134px);
    background: var(--lb3-messages-details-bg-color);
    top: 76px;
    left: -200px;
    width: 100%;
    z-index: 10;
    opacity: 0;
    display: none;
    transition: all 0.3s ease;

    &.cl-show {
        left: 0;
        opacity: 1;
        padding-left: 44px;
    }

    .cl-main-widget-inbox-details-header {
        width: 100%;
        min-height: 60px;
        padding: 26px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-label {
            text-align: center;
            color: var(--lb3-messages-details-title-color);
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            padding: 0 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-date {
            text-align: center;
            color: var(--lb3-messages-details-date-color);
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
        }
    }
}