.cl-main-widget-lb {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
}

.cl-main-widget-lb-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 84px;
    position: relative;
    z-index: 2;

    .cl-main-widget-lb-header-list-icon {
        display: block;
        background-image: $lb3-tournament-header-list-back-image;
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        background-size: 100%;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .cl-main-widget-lb-header-back-icon {
        display: none;
        background-image: $lb3-tournament-header-back-image;
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        background-size: 100%;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .cl-main-widget-lb-header-label {
        width: 100%;
        text-align: center;
        line-height: 30px;
        color: var(--lb3-tournament-header-label-color);
        font-size: 24px;
        font-weight: 700;
    }

    .cl-main-widget-lb-header-date {
        float: left;
        width: auto;
        position: absolute;
        top: 0;
        right: 50px;
        line-height: 30px;
        color: var(--lb3-tournament-header-date-color);
        font-size: 12px;
        min-width: 125px;
        display: none;
        visibility: hidden;
    }

    .cl-main-widget-lb-header-close {
        position: absolute;
        display: block;
        background-image: $lb3-tournament-header-close-back-image;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 100%;
        width: 50px;
        height: 50px;
        right: -18px;
        top: -18px;
        cursor: pointer;
    }
}

.cl-main-active-embedded-description .cl-main-widget-lb-header {
    .cl-main-widget-lb-header-list-icon {
        display: none;
    }

    .cl-main-widget-lb-header-back-icon {
        display: block;
    }
}

.cl-main-widget-lb-details {
    position: relative;
    z-index: 2;
    background-image: $lb3-tournament-default-banner;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 16px 20px 0;
    border-radius: 10px;

    &-content {
        height: 176px;
        text-align: center;
        border-radius: 10px;
        background: linear-gradient(93.25deg, rgba(56, 172, 207, 0.29) -4.57%, rgba(16, 26, 34, 0.5) 49.35%, rgba(56, 172, 207, 0.29) 100%);

        &.no-gradient {
            background: none;
        }

        &-label {
            text-align: center;
            color: var(--lb3-tournament-details-label-color);
            display: flex;
            flex-direction: column;
            position: relative;
            margin: 0 auto;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
            padding-top: 26px;

            &-text {
                display: block;
                max-width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                padding: 0 20px;
            }
        }

        &-date {
            font-size: 12px;
            line-height: 14px;
            min-height: 14px;
            width: 100%;
            margin-top: 16px;

            &-label {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                padding-bottom: 10px;
                margin-top: -10px;
            }

            &-headers {
                display: flex;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                align-items: center;
                justify-content: center;
                height: 34px;

                &-item {
                    width: 100px;

                    &.hidden {
                        display: none;
                    }
                }
            }
        }
    }

    &-image-container {
        .cl-main-widget-lb-details-image {
            float: left;
            width: 100%;
            padding: 0;
            margin: 0;
            border: none;
            max-height: 120px;
        }
    }
}

.cl-main-section-image-banner-active {
    .cl-main-widget-lb-details-content {
        background-color: var(--main-widget-image-banner-active-details-content-background);

        &-label {
            color: var(--lb3-image-banner-active-tournament-details-label-color);

            &::before {
                background-image: $lb3-widget-image-banner-active-info-icon-bg-img;
            }
        }
    }

    .cl-main-widget-lb-details-image-container {
        max-width: 100%;
        overflow: hidden;
        max-height: 200px;
        text-align: center;

        .cl-main-widget-lb-details-image {
            max-height: 200px;
            width: auto;
        }
    }
}

.cl-main-widget-lb-leaderboard {
    position: relative;
    height: calc(100% - 350px);
    border: 1px solid #223241;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 16px;

    &::-webkit-scrollbar {
        width: 7px;
        width: 7px;
        background-color: #f0f0f0;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: #8a8a8a;
    }

    .cl-lb-row {
        width: 100%;
        height: 40px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 12px;

        &.hidden {
            display: none;
        }

        &.cl-lb-member-row {
            background: #2F0426 !important;
            border: 1px solid #406A8C;
            box-shadow: 0 2px 12px rgba(64, 106, 140, 0.5);
            position: relative;
            color: var(--lb3-tournament-lb-active-member-row-color);

            .cl-col {
                color: var(--lb3-tournament-lb-active-member-row-color);
            }

            .cl-name-col {
                text-transform: uppercase;
                font-weight: 400;
            }
        }
    }

    .cl-main-widget-lb-leaderboard-header-top-res .cl-lb-row:nth-child(odd) {
        background: #141E28;
    }

    .cl-main-widget-lb-leaderboard-body-res .cl-lb-row:nth-child(even) {
        background: #141E28;
    }

    &-header {
        width: 100%;
        padding: 0 30px;
        position: sticky;
        z-index: 2;
        top: 0;

        &-labels {
            height: 40px;
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 700;

            .cl-col {
                color: var(--lb3-tournament-header-text-color);
                line-height: 20px;
                height: 20px;

                &.cl-rank-col {
                    transform: translate(18px, 0);
                }

                &.cl-name-col {
                    transform: translate(-33px, 0);
                }

                &.cl-points-col {
                    transform: translate(-10px, 0);
                }
            }
        }

        &-top-res {
            width: 100%;
            padding: 0 24px;
            position: sticky;
            top: 0;
            z-index: 3;
            background: #0f1921;

            .cl-col {
                color: var(--lb3-tournament-top-results-text-color);
            }

            .cl-rank-col-value {
                min-width: 20px;
                color: var(--lb3-tournament-lb-place-font-color);
                background-position: 2px 3px;
                text-align: center;
                font-size: 11px;
                font-weight: 400;
                line-height: 18px;
                padding: 0;
                min-height: 20px;
            }
        }
    }

    &-body {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 24px;
        z-index: 1;

        &-res {
            display: flex;
            flex-direction: column;
        }

        &.cl-element-scrollable .cl-main-widget-lb-leaderboard-body-res {
            padding: 0 15px 0 30px;
        }
    }

    &-res-container {
        width: 100%;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 4px;
            background: #141E28;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: #304F69;
        }
    }
}

.cl-rank-col {
    max-width: 169px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.cl-icon-col {
    width: 25px;

    .cl-icon-col-img {
        height: 24px;
        width: 24px;
        background: #406A8C;
        border-radius: 50%;
        text-align: center;
        font-weight: 700;
        line-height: 24px;
    }
}

.cl-growth-col {
    width: 9%;
    max-width: 65px;
}

.cl-points-col {
    width: 31%;
    min-width: 80px;
    max-width: 240px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 10px 0 0;
}

.cl-reward-col {
    width: 12%;
    min-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cl-rank-col-value {
    width: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.cl-lb-rank-1 .cl-rank-col-value {
    background-image: url(../../images/gold.svg);
    background-position: 2px 3px;
    background-repeat: no-repeat;
    height: 26px;
    width: 33px;
    font-size: 13px;
    line-height: 24px;
    transform: translate(23px, 0);
}

.cl-lb-rank-2 .cl-rank-col-value {
    background-image: url(../../images/silver.svg);
    background-position: 2px 3px;
    background-repeat: no-repeat;
    height: 26px;
    width: 33px;
    font-size: 13px;
    line-height: 24px;
    transform: translate(23px, 0);
}

.cl-lb-rank-3 .cl-rank-col-value {
    background-image: url(../../images/bronze.svg);
    background-position: 2px 3px;
    background-repeat: no-repeat;
    height: 26px;
    width: 33px;
    font-size: 13px;
    line-height: 24px;
    transform: translate(23px, 0);
}

.cl-name-col {
    width: 100%;
    max-width: 205px;
    padding-left: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/** Growth icons **/
.cl-growth-icon {
    float: left;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: none;
    background-repeat: no-repeat;
    margin: 3px 0 0 0;
}

.cl-growth-up {
    display: none;
    background-image: url(../../images/growth-arrow-icon.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
}

.cl-growth-same {
    display: none;
    background-image: url(../../images/growth-arrow-grey-icon.svg);
    background-position: 50% 50%;
    background-size: 100%;
}

.cl-growth-down {
    display: none;
    background-image: url(../../images/fall-arrow-icon.svg);
    background-position: 50% 50%;
    background-size: 100%;
}

.cl-main-widget-lb-missing-member {
    display: none;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 24px;
    background: #2F0426 !important;
    border: 1px solid #406A8C;
    box-shadow: 0 2px 12px rgba(64, 106, 140, 0.5);
    z-index: 3;
    color: var(--lb3-tournament-lb-active-member-row-color);

    .cl-col {
        color: var(--lb3-tournament-lb-active-member-row-color);
    }
}

.cl-main-widget-lb-missing-member-details {
    display: none;
    width: calc(100% - 48px);
    height: 40px;
    border-radius: 10px;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    position: absolute;
    bottom: 84px;
    left: 24px;
    padding-left: 24px;
    background: #2F0426 !important;
    border: 1px solid #406A8C;
    box-shadow: 0 2px 12px rgba(64, 106, 140, 0.5);
    z-index: 3;
    color: var(--lb3-tournament-lb-active-member-row-color);
}