body {
	padding:0;
	margin:0;
	font-family: Arial;
}
.opt-mini-scoreboards{
	float:left;
	min-width: 1200px;
	width: 100%;

	.opt-1-mini-vertical-container{
		float:left;
		width:30%;

		.cl-widget-ms-wrapper{
			top:0;
			left:30px;
		}

		.containers{
			float:left;
			width:50%;
			position: relative;
			height:270px;
			overflow: hidden;
		}
	}

	.opt-1-mini-horizontal-container{
		float:left;
		width:70%;
	}

	.opt-1-mini-horizontal{
		float:left;
		width:50%;
		position: relative;
		height:190px;
		overflow: hidden;
	}
	.opt-1-mini-horizontal-small{
		float:left;
		width:50%;

		.opt-1-mini-horizontal-opt{
			float:left;
			width:100%;
			position: relative;
			height:100px;
			overflow: hidden;
		}
		.opt-1-mini-horizontal-sum-best{
			float:left;
			width:100%;
			position: relative;
			height:100px;
			overflow: hidden;
		}
	}
	.opt-1-mini-horizontal-first-to{
		float:left;
		width:50%;
		position: relative;
		height:180px;
		overflow: hidden;
	}
}
.opt-main-container-wrapper{
	float:left;
	max-width: 1400px;
	width: 100%;

	.opt-main-container-tournaments, .opt-main-container-achievements, .opt-main-container-rewards, .opt-main-container-messages, .opt-main-container-pre-loader{
		float:left;
		width: 100%;

		.cl-main-widget-wrapper{
			position: absolute;
		}
		.containers{
			float:left;
			width: 50%;
			padding:0 0 20px 0;
			position: relative;
			height:700px;
		}
	}
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid #ffffff;
	cursor: pointer;
	padding: 2px 4px;
	border-radius: 0;
	font-size: 8px;
	line-height: 14px;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	background-color: #33c334;
	color: #ffffff;
	text-decoration: none;

	&:hover {
		background-color: #28A02A;
		border-color: #ffffff;
	}
}

.external-action-buttons {
	position: absolute;
	top:5px;
	right:5px;
	z-index: 10000;
	width: 120px;

	.trigger-achievement {
		float:right;
		width: 100%;
		margin:0 0 5px 0;
	}

	.trigger-achievement2 {
		float:right;
		width: 100%;
	}
}





@media (max-width: 1000px) {
	.opt-main-container-wrapper{
		.opt-main-container-tournaments, .opt-main-container-achievements, .opt-main-container-rewards, .opt-main-container-messages, .opt-main-container-pre-loader{
			.containers{
				width: 100%;
				height:500px;
			}
		}
	}
}
@media (max-width: 800px) {
	.opt-mini-scoreboards {
		.opt-1-mini-vertical-container {
			float: left;
			width: 100%;

			.containers {
				width: 100%;
			}
		}

		.opt-1-mini-horizontal-container {
			width: 100%;
		}

		.opt-1-mini-horizontal {
			width: 100%;
		}

		.opt-1-mini-horizontal-small {
			float: left;
			width: 100%;
		}

		.opt-1-mini-horizontal-first-to {
			width: 100%;
		}
	}
}