<div class="cl-main-widget-reward-header">
  <div class="cl-main-widget-reward-header-back"></div>
  <div class="cl-main-widget-reward-header-label">{{ headerLabel }}</div>
  <div class="cl-main-widget-reward-header-date"></div>
  <div class="cl-main-widget-reward-header-close"></div>
</div>
<div class="cl-main-widget-reward-details">
  <div class="cl-main-widget-reward-details-info">
    <div class="cl-main-widget-reward-details-info-icon"></div>
  </div>
  <div class="cl-main-widget-reward-details-content">
    <div class="cl-main-widget-reward-details-content-label"></div>
    <div class="cl-main-widget-reward-details-content-date"></div>
  </div>
</div>
<div class="cl-main-widget-reward-list">
  <div class="cl-main-widget-reward-list-body">
    <div class="cl-main-widget-reward-list-body-res"></div>
  </div>
</div>
<div class="cl-main-widget-reward-footer">
  <div class="cl-main-widget-reward-footer-content">{{ globalCopy }}</div>
</div>
<div class="cl-main-widget-reward-details-container">
  <div class="cl-main-widget-reward-details-wrapper">
    <div class="cl-main-widget-reward-details-header">
      <a class="cl-main-widget-reward-details-back-btn"></a>
      <div class="cl-main-widget-reward-details-header-label"></div>
      <div class="cl-main-widget-reward-details-header-date"></div>
    </div>
    <div class="cl-main-widget-reward-details-body-container">
      <div class="cl-main-widget-reward-details-body-image-cont"></div>
      <div class="cl-main-widget-reward-details-body">
        <div class="cl-main-widget-reward-winnings-container">
          <div class="cl-main-widget-reward-winnings-icon"></div>
          <div class="cl-main-widget-reward-winnings-value"></div>
        </div>
        <div class="cl-main-widget-reward-details-description"></div>
      </div>
      <div class="cl-main-widget-reward-claim-container">
        <a class="cl-main-widget-reward-claim-btn">{{ claimBtn }}</a>
      </div>
    </div>
  </div>
</div>