<div class="cl-main-widget-inbox-header">
  <div class="cl-main-widget-inbox-header-label">{{ headerLabel }}</div>
  <div class="cl-main-widget-inbox-header-close"></div>
</div>
<div class="cl-main-widget-inbox-details">
  <div class="cl-main-widget-inbox-details-info">
    <div class="cl-main-widget-inbox-details-info-icon"></div>
  </div>
  <div class="cl-main-widget-inbox-details-content">
    <div class="cl-main-widget-inbox-details-content-label"></div>
    <div class="cl-main-widget-inbox-details-content-date"></div>
  </div>
</div>
<div class="cl-main-widget-inbox-list">
  <div class="cl-main-widget-inbox-list-body">
    <div class="cl-main-widget-inbox-list-body-res"></div>
  </div>
</div>
<div class="cl-main-widget-inbox-footer">
  <div class="cl-main-widget-inbox-footer-content">{{ globalCopy }}</div>
</div>
<div class="cl-main-widget-inbox-details-container">
  <div class="cl-main-widget-inbox-details-wrapper">
    <div class="cl-main-widget-inbox-details-header">
      <a class="cl-main-widget-inbox-details-back-btn"></a>
      <div class="cl-main-widget-inbox-details-header-label"></div>
      <div class="cl-main-widget-inbox-details-header-date"></div>
    </div>
    <div class="cl-main-widget-inbox-details-body-container">
      <div class="cl-main-widget-inbox-details-body"></div>
    </div>
  </div>
</div>