<div class="cl-widget-ms-icon-wrapper">
  <div class="cl-widget-ms-icon" style="{{ logoUrl }}"></div>
</div>
<div class="cl-widget-ms-information-top-wrapper">
  <div class="cl-widget-ms-information-wrapper">
    <div class="cl-widget-ms-information-close-wrapper">
      <a class="cl-widget-ms-information-close" href="javascript:void(0);">x</a>
    </div>
  </div>
</div>