<div class="cl-widget-notif-icon-wrapper">
  <div class="cl-widget-notif-icon"></div>
</div>
<div class="cl-widget-notif-information-top-wrapper">
  <div class="cl-widget-notif-information-wrapper">
    <div class="cl-widget-notif-information-close-wrapper">
      <a class="cl-widget-notif-information-close" href="javascript:void(0);"></a>
    </div>
    <div class="cl-widget-notif-information-details-wrapper">
      <div class="cl-widget-notif-information-details-label"></div>
      <div class="cl-widget-notif-information-details-description"></div>
    </div>
  </div>
</div>