$lb3-widget-icon: url(../../images/ziqni-logo.svg);
$lb3-widget-icon-2x: url(../../images/ziqni-logo.svg);
$lb3-widget-info-icon-bg-img: url(../../images/info-icon-dark.svg);
$lb3-widget-image-banner-active-info-icon-bg-img:  url(../../images/info-icon.svg);
$lb3-tournament-icon: url(../../images/big-tournament-icon.svg);
$lb3-tournament-icon-bg-image: url(../../images/big-green-btn-icon2.png);
$lb3-tournament-icon-bg-image-2x: url(../../images/big-green-btn-icon2-x2.png);
$lb3-tournament-header-close-back-image: url(../../cl-black-theme/images/close-icon.svg);
$lb3-tournament-header-list-back-image: url(../../images/menu.svg);
$lb3-tournament-lb-top-res-back: url(../../images/medals-v3.png);
$lb3-tournament-lb-first-place-back: url(../../images/medals.png);
$lb3-tournament-lb-second-place-back: url(../../images/medals.png);
$lb3-tournament-lb-third-place-back: url(../../images/medals.png);
$lb3-achievements-icon: url(../../images/big-challenge-icon.svg);
$lb3-achievements-icon-bg-image: url(../../images/big-blue-btn-icon2.png);
$lb3-achievements-icon-bg-image-2x: url(../../images/big-blue-btn-icon2-x2.png);
$lb3-achievements-header-close-image: url(../../cl-black-theme/images/close-icon.svg);
$lb3-rewards-icon: url(../../images/big-reward-icon.svg);
$lb3-rewards-icon-bg-image: url(../../images/big-orange-btn-icon2.png);
$lb3-rewards-icon-bg-image-2x: url(../../images/big-orange-btn-icon2-x2.png);
$lb3-rewards-header-close-image: url(../../cl-black-theme/images/close-icon.svg);
$lb3-messages-icon: url(../../images/big-message-icon.svg);
$lb3-messages-icon-bg-image: url(../../images/big-red-btn-icon.svg);
$lb3-messages-icon-bg-image-2x: url(../../images/big-red-btn-icon2.png);
$lb3-messages-header-close-image: url(../../cl-black-theme/images/close-icon.svg);
$lb3-notification-back-image: url(../../images/big-blue-btn-icon2.png);
$prev-btn-icon-bg: url(../../images/prev-btn-icon.svg);

:root {
  --primary-color:#000000;
  --primary-color-darken: #555555;
  --primary-color-lighten: #999999;

  --primary-font-color:#ffffff;
  --primary-background-color:#F9F9F9;
  --primary-background-color-hover: #d7d7d7;
  --light-font-color:#ffffff;

  --darkest-color: #212121;
  --light-grey: #b4b4b4;

   // MAIN
  --lb3-widget-font: "Gotham A", "Gotham B", "Gotham", Helvetica, Arial, serif;
  --lb3-widget-bg-color: var(--primary-color);
  --lb3-widget-border-color: var(--primary-color);
  --lb3-widget-text-color: #ffffff;
  --lb3-widget-date-text-color: #ffffff;
  --lb3-widget-header-text-color: var(--light-grey);

  --lb3-widget-navigation-icon-width: 73px;
  --lb3-widget-navigation-icon-height: 73px;
  --lb3-widget-navigation-notification-count: #ff020c;

  --main-widget-image-banner-active-details-content-background: #28A02A;

  

  // CLOSE BTN
  --lb3-close-btn-bg-color: var(--primary-color);

  // MINI SCOREBOARD
  --lb3-miniscoreboard-close-wrapper-border: 2px solid var(--primary-color);
  --lb3-miniscoreboard-close-btn-back: var(--primary-color);
  --lb3-miniscoreboard-close-btn-color: #fff;
  --lb3-miniscoreboard-close-btn-font-size: 18px;

  --lb3-miniscoreboard-opt-btn-border: 1px solid var(--primary-background-color);
  --lb3-miniscoreboard-opt-btn-back: var(--primary-background-color);
  --lb3-miniscoreboard-opt-btn-back-hover: var(--primary-color);
  --lb3-miniscoreboard-opt-btn-color-hover: #ffffff;
  --lb3-miniscoreboard-opt-btn-color: var(--primary-color);
  --lb3-miniscoreboard-opt-line-height: 22px;
  --lb3-miniscoreboard-opt-font-size: 14px;

  --lb3-miniscoreboard-date-color: var(--light-grey);

  --lb3-miniscoreboard-rank-label-color: var(--light-grey);
  --lb3-miniscoreboard-points-label-color: var(--light-grey);

  // FIRST TO
  --lb3-miniscoreboard-inverse-first-to-date-color: var(--light-grey);
  --lb3-miniscoreboard-inverse-first-to-date-only-color: var(--light-grey);
  --lb3-miniscoreboard-first-to-header-rank-color: var(--light-grey);
  --lb3-miniscoreboard-first-to-header-points-color: var(--light-grey);

  --lb3-miniscoreboard-vertical-first-to-rank-color: var(--light-grey);
  --lb3-miniscoreboard-vertical-first-to-points-color: var(--light-grey);
  --lb3-miniscoreboard-first-to-date-color: var(--light-grey);

  // TOURNAMENTS
  --lb3-tournament-header-back: #33c334;
  --lb3-tournament-header-border-bottom: none;
  --lb3-tournament-header-label-color: #ffffff;
  --lb3-tournament-header-date-color: #ffffff;

  --lb3-tournament-details-bg-color: #28a02a;
  --lb3-tournament-details-label-color: #ffffff;
  --lb3-image-banner-active-tournament-details-label-color: #ffffff;
  --lb3-tournament-footer-bg-color: #2bb22e;
  --lb3-tournament-footer-top-border: none;
  --lb3-tournament-footer-text-color: #212121;
  --lb3-tournament-container-bg-color: #28a02a;
  --lb3-tournament-container-text-color: #ffffff;
  --lb3-tournament-container-text-size: 12px;
  --lb3-tournament-container-height: 26px;
  --lb3-tournament-container-line-height: 26px;
  --lb3-tournament-description-close-arrow-up-color: #ffffff;
  --lb3-tournament-description-close-background: #2bb22e;

  --lb3-tournament-lb-place-font-color: var(--primary-font-color);
  --lb3-tournament-lb-first-place-back-position: 0 0;
  --lb3-tournament-lb-first-place-back-size: 100%;
  --lb3-tournament-lb-first-place-color: unset;
  --lb3-tournament-lb-first-place-border: none;

  --lb3-tournament-lb-second-place-back-position: 0px -25px;
  --lb3-tournament-lb-second-place-back-size: 100%;
  --lb3-tournament-lb-second-place-color: unset;
  --lb3-tournament-lb-second-place-border: none;

  --lb3-tournament-lb-third-place-back-position: 0 -50px;
  --lb3-tournament-lb-third-place-back-size: 100%;
  --lb3-tournament-lb-third-place-color: unset;
  --lb3-tournament-lb-third-place-border: none;

  --lb3-tournament-header-text-size: 11px;


  --lb3-tournament-header-text-color: #a9d9aa;
  --lb3-tournament-top-results-bg-color: #0d980e;
  --lb3-tournament-top-results-bg-box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.2);
  --lb3-tournament-top-results-text-color: #FFFFFF;
  --lb3-tournament-lb-top-results-place-box-shadow: 1px 1px 3px #575f57;


  --lb3-tournament-details-container-bg-color: #28a02a;
  --lb3-tournament-details-header-color: #ffffff;
  --lb3-tournament-details-date-color: #ffffff;
  --lb3-tournament-details-body-color: #ffffff;
  --lb3-tournament-details-link-color: #2c9ab7;
  --lb3-tournament-list-bg-color: #28a02a;

  --lb3-tournament-details-opt-in-back: #28A02A;
  --lb3-tournament-details-opt-in-back-border-top: none;
  --lb3-tournament-details-opt-in-btn-back: #33c334;
  --lb3-tournament-details-opt-in-btn-back-hover: #21a722;
  --lb3-tournament-details-opt-in-btn-color-hover: #ffffff;
  --lb3-tournament-details-opt-in-btn-border-hover: 1px solid #21a722;
  
  --lb3-tournament-details-opt-in-color: #ffffff;
  --lb3-tournament-details-opt-in-border: none;

  --lb3-tournament-list-accordion-label-back: #218423;
  --lb3-tournament-list-accordion-label-icon: #ffffff;
  --lb3-tournament-list-accordion-label-icon-show: #ffffff;
  --lb3-tournament-list-accordion-label-back-show: #212121;
  --lb3-tournament-list-accordion-label-back-hover: #218423;
  --lb3-tournament-list-accordion-label-color-show: #ffffff;
  --lb3-tournament-list-item-cont-border-bottom: 1px solid #07670b;
  --lb3-tournament-list-item-cont-back-hover: #239025;

  --lb3-tournament-lb-active-member-row-height: 26px;
  --lb3-tournament-lb-active-member-row-back: #000000;
  --lb3-tournament-lb-active-member-row-color: #ffffff;

  --lb3-tournament-lb-opt-in-back: #28A02A;
  --lb3-tournament-lb-opt-in-btn-back: #33c334;
  --lb3-tournament-lb-opt-in-btn-color: #ffffff;
  --lb3-tournament-lb-opt-in-btn-back-hover: #21a722;
  --lb3-tournament-lb-opt-in-border: none;

  --lb3-tournament-lb-opt-in-btn-color-hover: #fff;
  --lb3-tournament-lb-opt-in-btn-border-hover: 1px solid #28A02A;

  // ACHIEVEMENTS
  --lb3-achievements-header-bg-color: #23b3dd;
  --lb3-achievements-header-label-color: #ffffff;
  --lb3-achievements-header-date-color: #ffffff;
  --lb3-achievements-header-border-bottom: none;

  --lb3-achievements-details-bg-color: #00a1bd;
  --lb3-achievements-container-bg-color: #00a1bd;
  --lb3-achievements-details-header-text-color: #ffffff;
  --lb3-achievements-details-date-color: #ffffff;
  --lb3-achievements-details-body-color: #ffffff;
  --lb3-achievements-details-link-color: #2c9ab7;
  --lb3-achievements-footer-bg-color: #23b3dd;
  --lb3-achievements-footer-top-border: none;
  --lb3-achievements-footer-text-color: #212121;
  --lb3-achievements-divider-color: #068aa2;
  --lb3-achievements-item-label-color: #ffffff;
  --lb3-achievements-item-body-color: #ffffff;
  --lb3-achievements-progress-bg-color: #068aa2;
  --lb3-achievements-progress-fill-color: #ffffff;
  --lb3-achievements-btn-bg-color: #23b3dd;
  --lb3-achievements-btn-hover-color: #29c2ef;
  --lb3-achievements-btn-border-radius: 8px;
  --lb3-achievements-btn-box-shadow: 1px 3px 5px #666;
  --lb3-achievements-btn-border: none;
  --lb3-achievements-progress-text-color: #000000;

  // REWARDS

  --lb3-rewards-header-bg-color: #f18d32;
  --lb3-rewards-header-border-bottom: none;
  --lb3-rewards-footer-bg-color: #f18d32;
  --lb3-rewards-footer-top-border: none;
  --lb3-rewards-footer-text-color: #212121;
  --lb3-rewards-bg-color: #e88229;
  --lb3-rewards-divider-color: #c56008;
  --lb3-rewards-item-label-color: #ffffff;
  --lb3-rewards-item-body-color: #ffffff;
  --lb3-rewards-item-bg-color-hover: #dd790c;
  --lb3-rewards-item-hover-bg-color: #dd790c;
  --lb3-rewards-accordion-bg-color: #cc6e09;
  --lb3-rewards-accordion-hover-color: #ab6d2a;
  --lb3-rewards-details-bg-color: #e88229;
  --lb3-rewards-details-title-color: #ffffff;
  --lb3-rewards-details-date-color: #ffffff;
  --lb3-rewards-details-body-color: #ffffff;
  --lb3-rewards-details-reward-bg-color: #173135;
  --lb3-rewards-winnings-bg-color: #cb6e09;
  --lb3-rewards-btn-bg-color: #ff6d00;
  --lb3-rewards-btn-border: 1px solid #ff6d00;
  --lb3-rewards-btn-hover-color: #ec6603;
  --lb3-rewards-btn-border-radius: 3px;
  --lb3-rewards-btn-box-shadow: 1px 3px 4px rgba(0,0,0,0.2);

  --lb3-rewards-accordion-container-show-bg-color: #212121;
  --lb3-rewards-accordion-container-show-color: #ffffff;

  // MESSAGES

  --lb3-messages-header-bg-color: #f84128;
  --lb3-messages-header-text-color: #ffffff;
  --lb3-messages-header-date-color: #ffffff;
  --lb3-messages-header-border-bottom: none;
  --lb3-messages-item-bg-color: #ff020c;
  --lb3-messages-item-hover-color: #d50004;
  --lb3-messages-item-divider-color: #c56008;
  --lb3-messages-item-label-color: #ffffff;
  --lb3-messages-item-text-color: #ffffff;
  --lb3-messages-details-bg-color: #d50004;
  --lb3-messages-details-title-color: #ffffff;
  --lb3-messages-details-date-color: #ffffff;
  --lb3-messages-details-text-color: #ffffff;
  --lb3-messages-footer-bg-color: #f84128;
  --lb3-messages-footer-text-color: #212121;
  --lb3-messages-footer-top-border: none;
}
