@import "../_main/fonts";
@import "./default-config";
@import "../_main/style";

.cl-widget-ms-wrapper .cl-widget-ms-information-close-wrapper {
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-lb-details-image-container {
  float: left;
  width: 100%;
  text-align: center;
  padding: 0 0 10px 0;
}
.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-lb-details-content-label::before {
  background-image: url(../../images/info-icon.svg);
}
.cl-main-widget-wrapper .cl-main-widget-section-container .cl-main-widget-section-ach .cl-ach-list-progression-bar {
  height: 13px;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-navigation-item .cl-main-navigation-item-count {
  background: var(--lb3-widget-navigation-notification-count);
}