// Sass Variables
$lb3-widget-icon: url(../../images/ziqni-logo.svg);
$lb3-widget-icon-2x: url(../../images/ziqni-logo.svg);
$lb3-widget-icon-nav: url(../../images/ziqni-logo-nav.svg);
$lb3-widget-info-icon-bg-img: url(../../images/info-icon-dark.svg);
$lb3-widget-image-banner-active-info-icon-bg-img:  url(../../images/info-icon.svg);
$lb3-dashboard-icon: url(../../images/home.svg);
$lb3-dashboard-icon-black: url(../../images/home-black.svg);
$lb3-tournament-icon: url(../../images/big-tournament-icon.svg);
$lb3-tournament-icon-black: url(../../images/big-tournament-icon-black.svg);
$lb3-tournament-default-banner: url(../../images/default-banner.png);
$lb3-tournament-default-icon: url(../../images/tourDef.svg);
$lb3-tournament-icon-bg-image: url(../../images/big-default-blue-btn-icon.svg);
$lb3-tournament-icon-bg-image-2x: url(../../images/big-default-blue-btn-icon.svg);
$lb3-tournament-header-close-back-image: url(../../images/close-icon.svg);
$lb3-tournament-header-close-light-image: url(../../images/close-icon-light.svg);
$lb3-tournament-header-list-back-image: url(../../images/menu.svg);
$lb3-tournament-header-list-back-image-black: url(../../images/menu-black.svg);
$lb3-tournament-header-back-image: url(../../images/left-arrow.svg);
$lb3-tournament-header-back-image-black: url(../../images/left-arrow-black.svg);
$lb3-tournament-description-back-image: url(../../images/small-left-arrow.svg);
$lb3-tournament-description-back-image-black: url(../../images/small-left-arrow-black.svg);
$lb3-tournament-lb-top-res-back: url(../../images/medals-v3.png);
$lb3-achievements-icon: url(../../images/big-challenge-icon.svg);
$lb3-achievements-icon-black: url(../../images/big-challenge-icon-black.svg);
$lb3-achievements-default-icon: url(../../images/frame.svg);
$lb3-achievements-default-icon-border: url(../../images/ellipse.svg);
$lb3-achievements-icon-bg-image: url(../../images/big-default-blue-btn-icon.svg);
$lb3-achievements-icon-bg-image-2x: url(../../images/big-default-blue-btn-icon.svg);
$lb3-achievements-header-close-image: url(../../images/close-icon.svg);
$lb3-rewards-icon: url(../../images/big-reward-icon.svg);
$lb3-rewards-icon-black: url(../../images/big-reward-icon-black.svg);
$lb3-rewards-icon-bg-image: url(../../images/big-default-blue-btn-icon.svg);
$lb3-rewards-icon-bg-image-2x: url(../../images/big-default-blue-btn-icon.svg);
$lb3-rewards-header-close-image: url(../../images/close-icon.svg);
$lb3-award-default-icon: url(../../images/award.svg);
$lb3-award-small-icon: url(../../images/award-icon.svg);
$lb3-messages-icon: url(../../images/big-message-icon.svg);
$lb3-messages-icon-black: url(../../images/big-message-icon-black.svg);
$lb3-messages-icon-bg-image: url(../../images/big-default-blue-btn-icon.svg);
$lb3-messages-icon-bg-image-2x: url(../../images/big-default-blue-btn-icon.svg);
$lb3-missions-icon: url(../../images/rocket-icon.svg);
$lb3-missions-icon-black: url(../../images/rocket-icon-black.svg);
$lb3-missions-def-img: url(../../images/missionDef.png);
$lb3-missions-icon-bg-image: url(../../images/big-default-blue-btn-icon.svg);
$lb3-missions-icon-bg-image-2x: url(../../images/big-default-blue-btn-icon.svg);
$lb3-messages-header-close-image: url(../../images/close-icon.svg);
$lb3-notification-back-image: url(../../images/big-default-blue-btn-icon.svg);
$pagination-prev-icon: url(../../images/arrow-left.svg);
$pagination-next-icon: url(../../images/arrow-right.svg);

// Breakpoints
$breakpoint-mobile-small: 375px;
$breakpoint-mobile: 425px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
