/**
 * Main Section area
 */
.cl-main-widget-wrapper {
  position: fixed;
  z-index: 1001;
  display: none;
  opacity: 0;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 40px 20px 10px;
  font-family: 'Syne', sans-serif;
  font-weight: 300;
  text-align: left;
  margin: 0;
  box-sizing: border-box;
  line-height: 20px;
  border: 0;
  vertical-align: baseline;
  background: none;
  max-width: 1037px;
  transform: translate(-50%, 0);
}

.cl-main-widget-wrapper.cl-show {
  opacity: 1;
  transition: all 0.3s ease;
}

.cl-main-widget-wrapper .cl-main-widget-inner-wrapper {
  transition: background 0.3s;
  position: relative;
  display: flex;
  max-width: 997px;
  max-height: 816px;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  padding-top: 20px;
  width: 148px;
  height: 100%;
  z-index: 2;
  overflow: auto;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container::-webkit-scrollbar {
  width: 4px;
  background: #141E28;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #304F69;
}

.cl-main-widget-wrapper .cl-hidden-navigation .cl-main-widget-navigation-container {
  display:none;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-logo {
  width: 68px;
  height: 68px;
  background-image: $lb3-widget-icon-nav;
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-items {
  padding: 46px 0 0 0;
  flex-grow: 1;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-items .cl-main-widget-navigation-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 108px;
  min-height: 67px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-items .cl-main-widget-navigation-item.cl-active-nav {
  background: #EE3EC8;
  border-radius: 10px;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-items .cl-main-widget-navigation-item.hidden {
  display: none;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-darkMode-toggle {
  padding-bottom: 45px;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-darkMode-toggle label {
  width: 40px;
  height: 73px;
  position: relative;
  display: block;
  background: #304F69 url(../../images/sun-dark.svg) no-repeat center 13%;
  border-radius: 30px;
  cursor: pointer;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-darkMode-toggle label::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #EE3EC8 url(../../images/moon.svg) no-repeat center center;
  border-radius: 50%;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-darkMode-toggle input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-darkMode-toggle input:checked + label {
  background: #DCE6EF url(../../images/moon-light.svg) no-repeat center 86%;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-darkMode-toggle input:checked + label:after {
  transform: translateY(-34px);
  background: #EE3EC8 url(../../images/sun.svg) no-repeat center center;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-darkMode-toggle label,
.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-darkMode-toggle label:after {
  transition: 0.3s
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-navigation-item {
  position:relative;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-navigation-item .cl-main-navigation-item-count {
  position: absolute;
  top: 4px;
  right: 3px;
  width: auto;
  padding: 0 3px;
  border-radius: 50%;
  font-size: 10px;
  color: var(--primary-font-color);
  background: var(--primary-background-color);
  min-width: 18px;
  text-align: center;
  line-height: 15px;
}
.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-active-nav .cl-main-navigation-item .cl-main-navigation-item-count {
  top: 10px;
  line-height: 18px;
  font-size: 12px;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-dashboard-icon {
  display: block;
  height: 32px;
  width: 32px;
  margin-top: 6px;
  margin-bottom: 5px;
  background-image: $lb3-dashboard-icon;
  background-repeat: no-repeat;
  background-size: 100%;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-lb-icon {
  display: block;
  height: 32px;
  width: 32px;
  margin-top: 6px;
  margin-bottom: 5px;
  background-image: $lb3-tournament-icon;
  background-repeat: no-repeat;
  background-size: 100%;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-ach-icon {
  display: block;
  height: 32px;
  width: 32px;
  margin-top: 6px;
  margin-bottom: 5px;
  background-image: $lb3-achievements-icon;
  background-repeat: no-repeat;
  background-size: 100%;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-rewards-icon {
  display: block;
  height: 32px;
  width: 32px;
  margin-top: 6px;
  margin-bottom: 5px;
  background-image: $lb3-rewards-icon;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.7;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-inbox-icon {
  display: block;
  height: 32px;
  width: 32px;
  margin-top: 6px;
  margin-bottom: 5px;
  background-image: $lb3-messages-icon;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.7;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-missions-icon {
  display: block;
  height: 32px;
  width: 32px;
  margin-top: 6px;
  margin-bottom: 5px;
  background-image: $lb3-missions-icon;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.7;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-lb:hover {
  opacity: 0.8;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-lb-icon:hover {
  opacity: 1;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-ach:hover {
  opacity: 0.8;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-ach-icon:hover {
  opacity: 1;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-rewards:hover {
  opacity: 0.8;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-rewards-icon:hover {
  opacity: 1;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-inbox:hover {
  opacity: 0.8;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-inbox-icon:hover {
  opacity: 1;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-missions:hover {
  opacity: 0.8;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-missions-icon:hover {
  opacity: 1;
}


.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-lb.cl-active-nav, .cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-lb.cl-active-nav:hover {
  opacity: 1;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-lb.cl-active-nav .cl-main-widget-navigation-lb-icon, .cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-lb.cl-active-nav .cl-main-widget-navigation-lb-icon:hover {
  opacity: 1;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-ach.cl-active-nav, .cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-ach.cl-active-nav:hover {
  opacity: 1;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-ach.cl-active-nav .cl-main-widget-navigation-ach-icon, .cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-ach.cl-active-nav .cl-main-widget-navigation-ach-icon:hover {
  opacity: 1;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-rewards.cl-active-nav, .cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-rewards.cl-active-nav:hover {
  opacity: 1;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-rewards.cl-active-nav .cl-main-widget-navigation-rewards-icon, .cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-rewards.cl-active-nav .cl-main-widget-navigation-rewards-icon:hover {
  opacity: 1;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-inbox.cl-active-nav, .cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-inbox.cl-active-nav:hover {
  opacity: 1;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-inbox.cl-active-nav .cl-main-widget-navigation-inbox-icon, .cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-inbox.cl-active-nav .cl-main-widget-navigation-inbox-icon:hover {
  opacity: 1;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-missions.cl-active-nav, .cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-missions.cl-active-nav:hover {
  opacity: 1;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-missions.cl-active-nav .cl-main-widget-navigation-missions-icon, .cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-missions.cl-active-nav .cl-main-widget-navigation-missions-icon:hover {
  opacity: 1;
}

.cl-main-widget-wrapper .cl-main-widget-navigation-container .cl-main-widget-navigation-items .cl-hidden-navigation-item{
  display: none;
}


