$lb3-widget-icon: url(../../images/ziqni-logo.svg);
$lb3-widget-icon-2x: url(../../images/ziqni-logo.svg);
$lb3-widget-info-icon-bg-img: url(../../images/info-icon-dark.svg);
$lb3-widget-image-banner-active-info-icon-bg-img:  url(../../images/info-icon.svg);
$lb3-tournament-icon: url(../../images/big-tournament-icon.svg);
$lb3-tournament-icon-bg-image: url(../../images/big-default-blue-btn-icon.svg);
$lb3-tournament-icon-bg-image-2x: url(../../images/big-default-blue-btn-icon.svg);
$lb3-tournament-header-close-back-image: url(../../images/close-icon.svg);
$lb3-tournament-header-list-back-image: url(../../images/menu.svg);
$lb3-tournament-lb-top-res-back: url(../../images/medals-v3.png);
$lb3-tournament-lb-first-place-back: url(../../images/medals.png);
$lb3-tournament-lb-second-place-back: url(../../images/medals.png);
$lb3-tournament-lb-third-place-back: url(../../images/medals.png);
$lb3-achievements-icon: url(../../images/big-challenge-icon.svg);
$lb3-achievements-icon-bg-image: url(../../images/big-default-blue-btn-icon.svg);
$lb3-achievements-icon-bg-image-2x: url(../../images/big-default-blue-btn-icon.svg);
$lb3-achievements-header-close-image: url(../../images/close-icon.svg);
$lb3-rewards-icon: url(../../images/big-reward-icon.svg);
$lb3-rewards-icon-bg-image: url(../../images/big-default-blue-btn-icon.svg);
$lb3-rewards-icon-bg-image-2x: url(../../images/big-default-blue-btn-icon.svg);
$lb3-rewards-header-close-image: url(../../images/close-icon.svg);
$lb3-messages-icon: url(../../images/big-message-icon.svg);
$lb3-messages-icon-bg-image: url(../../images/big-default-blue-btn-icon.svg);
$lb3-messages-icon-bg-image-2x: url(../../images/big-default-blue-btn-icon.svg);
$lb3-missions-icon: url(../../images/rocket-icon.svg);
$lb3-missions-icon-bg-image: url(../../images/big-default-blue-btn-icon.svg);
$lb3-missions-icon-bg-image-2x: url(../../images/big-default-blue-btn-icon.svg);
$lb3-messages-header-close-image: url(../../images/close-icon.svg);
$lb3-notification-back-image: url(../../images/big-default-blue-btn-icon.svg);
$prev-btn-icon-bg: url(../../images/prev-btn-icon-grey.svg);

:root {
  //Theme Colours
  --primary-color: #ffffff;
  --primary-color-darken: #000000;
  --primary-color-lighten: #999999;
  --primary-button-color: #007dfb;
  --primary-border-color: #636f83;

  --primary-font-color: #282f37;
  --primary-background-color: #ffffff;
  --primary-background-color-hover: #d7d7d7;
  --light-font-color: #ffffff;
  --dark-font-color: #000000;

  --darkest-color: #212121;
  --light-grey: #737373;

  // MAIN
  --lb3-widget-font: "Inter", Helvetica, Arial, serif;
  --lb3-widget-bg-color: var(--primary-color);
  --lb3-widget-border-color: var(--primary-border-color);
  --lb3-widget-text-color: var(--dark-font-color);
  --lb3-widget-date-text-color: var(--primary-font-color);
  --lb3-widget-header-text-color: var(--light-grey);

  --lb3-widget-navigation-icon-width: 73px;
  --lb3-widget-navigation-icon-height: 73px;


  --main-widget-image-banner-active-details-content-background: var(--primary-color-darken);

  // CLOSE BTN
  --lb3-close-btn-bg-color: var(--primary-color-darken);

  // MINI SCOREBOARD
  --lb3-miniscoreboard-close-wrapper-border: 2px solid var(--primary-color);
  --lb3-miniscoreboard-close-btn-back: var(--primary-color-darken);
  --lb3-miniscoreboard-close-btn-color: #fff;
  --lb3-miniscoreboard-close-btn-font-size: 18px;

  --lb3-miniscoreboard-opt-btn-border: 1px solid var(--primary-border-color);
  --lb3-miniscoreboard-opt-btn-back: var(--primary-button-color);
  --lb3-miniscoreboard-opt-btn-back-hover: var(--primary-color);
  --lb3-miniscoreboard-opt-btn-color-hover: var(--primary-font-color);
  --lb3-miniscoreboard-opt-btn-color: var(--primary-color);
  --lb3-miniscoreboard-opt-line-height: 22px;
  --lb3-miniscoreboard-opt-font-size: 14px;

  --lb3-miniscoreboard-date-color: var(--light-grey);

  --lb3-miniscoreboard-rank-label-color: var(--light-grey);
  --lb3-miniscoreboard-points-label-color: var(--light-grey);

  // FIRST TO
  --lb3-miniscoreboard-inverse-first-to-date-color: var(--dark-font-color);
  --lb3-miniscoreboard-inverse-first-to-date-only-color: var(--dark-font-color);
  --lb3-miniscoreboard-first-to-header-rank-color: var(--dark-font-color);
  --lb3-miniscoreboard-first-to-header-points-color: var(--dark-font-color);

  --lb3-miniscoreboard-vertical-first-to-rank-color: var(--light-grey);
  --lb3-miniscoreboard-vertical-first-to-points-color: var(--light-grey);
  --lb3-miniscoreboard-first-to-date-color: var(--light-grey);

  // TOURNAMENTS
  --lb3-tournament-header-back: var(--primary-color-darken);
  --lb3-tournament-header-border-bottom: 1px solid #4c4c4c;
  --lb3-tournament-header-label-color: var(--light-font-color);
  --lb3-tournament-header-date-color: var(--light-font-color);

  --lb3-tournament-details-bg-color: var(--primary-background-color);
  --lb3-tournament-details-label-color: var(--primary-font-color);
  --lb3-image-banner-active-tournament-details-label-color: #ffffff;
  --lb3-tournament-footer-bg-color: var(--primary-color-darken);
  --lb3-tournament-footer-top-border: 1px solid #4c4c4c;
  --lb3-tournament-footer-text-color: var(--light-font-color);
  --lb3-tournament-container-bg-color: var(--primary-background-color);
  --lb3-tournament-container-text-color: var(--primary-font-color);
  --lb3-tournament-container-text-size: 12px;
  --lb3-tournament-container-height: 28px;
  --lb3-tournament-container-line-height: 28px;
  --lb3-tournament-description-close-arrow-up-color: var(--primary-border-color);
  --lb3-tournament-description-close-background: var(--primary-color);

  --lb3-tournament-lb-place-font-color: var(--primary-font-color);
  --lb3-tournament-lb-first-place-back-position: 0 0;
  --lb3-tournament-lb-first-place-back-size: 100%;
  --lb3-tournament-lb-first-place-color: unset;
  --lb3-tournament-lb-first-place-border: none;

  --lb3-tournament-lb-second-place-back-position: 0px -25px;
  --lb3-tournament-lb-second-place-back-size: 100%;
  --lb3-tournament-lb-second-place-color: unset;
  --lb3-tournament-lb-second-place-border: none;

  --lb3-tournament-lb-third-place-back-position: 0 -50px;
  --lb3-tournament-lb-third-place-back-size: 100%;
  --lb3-tournament-lb-third-place-color: unset;
  --lb3-tournament-lb-third-place-border: none;

  --lb3-tournament-header-text-color: var(--primary-font-color);
  --lb3-tournament-header-text-size: 11px;
  --lb3-tournament-top-results-text-color: var(--primary-font-color);
  --lb3-tournament-lb-top-results-place-box-shadow: 1px 1px 3px #575f57;

  --lb3-tournament-top-results-bg-color: #ffffff;
  --lb3-tournament-top-results-bg-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
  --lb3-tournament-details-container-bg-color: var(--primary-background-color);
  --lb3-tournament-details-header-color: #e4bc1f;
  --lb3-tournament-details-date-color: var(--primary-font-color);
  --lb3-tournament-details-body-color: var(--primary-font-color);
  --lb3-tournament-details-link-color: #2c9ab7;
  --lb3-tournament-list-bg-color: var(--primary-background-color);

  --lb3-tournament-details-opt-in-back: var(--primary-background-color);
  --lb3-tournament-details-opt-in-back-border-top: 1px solid var(--light-grey);
  --lb3-tournament-details-opt-in-btn-back: var(--primary-background-color);
  --lb3-tournament-details-opt-in-btn-back-hover: var(--primary-color);
  --lb3-tournament-details-opt-in-btn-color-hover: #ffffff;
  --lb3-tournament-details-opt-in-btn-border-hover: 1px solid var(--primary-color);
  --lb3-tournament-details-opt-in-color: var(--primary-font-color);
  --lb3-tournament-details-opt-in-border: 1px solid var(--primary-font-color);

  --lb3-tournament-list-accordion-label-back: var(--primary-color-darken);
  --lb3-tournament-list-accordion-label-icon: var(--light-font-color);
  --lb3-tournament-list-accordion-label-icon-show: var(--primary-color);
  --lb3-tournament-list-accordion-label-back-show: var(--primary-color-darken);
  --lb3-tournament-list-accordion-label-back-hover: var(--primary-color-lighten);
  --lb3-tournament-list-accordion-label-color-show: var(--primary-color);
  --lb3-tournament-list-item-cont-border-bottom: 1px solid var(--light-grey);
  --lb3-tournament-list-item-cont-back-hover: #e5e2d5;

  --lb3-tournament-lb-active-member-row-height: 28px;
  --lb3-tournament-lb-active-member-row-back: var(--primary-button-color);
  --lb3-tournament-lb-active-member-row-color: var(--primary-color);

  --lb3-tournament-lb-opt-in-back: var(--primary-background-color);
  --lb3-tournament-lb-opt-in-btn-back: var(--primary-button-color);
  --lb3-tournament-lb-opt-in-btn-color: var(--primary-color);
  --lb3-tournament-lb-opt-in-border: 1px solid var(--primary-font-color);

  --lb3-tournament-lb-opt-in-btn-back-hover:  var(--primary-color);
  --lb3-tournament-lb-opt-in-btn-color-hover: var(--primary-font-color);
  --lb3-tournament-lb-opt-in-btn-border-hover: 1px solid var(--primary-button-color);

  // ACHIEVEMENTS
  --lb3-achievements-header-bg-color: var(--primary-color-darken);
  --lb3-achievements-header-label-color: var(--light-font-color);
  --lb3-achievements-header-date-color: var(--light-grey);
  --lb3-achievements-header-border-bottom: 1px solid #4c4c4c;
  --lb3-achievements-details-bg-color: var(--primary-background-color);
  --lb3-achievements-container-bg-color: var(--primary-background-color);
  --lb3-achievements-details-header-text-color: var(--primary-font-color);
  --lb3-achievements-details-date-color: var(--primary-font-color);
  --lb3-achievements-details-body-color: var(--primary-font-color);
  --lb3-achievements-details-link-color: #2c9ab7;
  --lb3-achievements-footer-bg-color: var(--primary-color-darken);
  --lb3-achievements-footer-top-border: 1px solid #4c4c4c;
  --lb3-achievements-footer-text-color: var(--light-font-color);
  --lb3-achievements-divider-color: #e5e2d5;
  --lb3-achievements-item-label-color: var(--primary-font-color);
  --lb3-achievements-item-body-color: var(--primary-font-color);
  --lb3-achievements-progress-bg-color: var(--primary-color);
  --lb3-achievements-progress-fill-color: var(--primary-button-color);
  --lb3-achievements-progress-text-color: var(--primary-color);
  --lb3-achievements-progress-border: 1px solid var(--primary-button-color);
  --lb3-achievements-btn-bg-color:  var(--primary-button-color);
  --lb3-achievements-btn-hover-color:  var(--primary-color-lighten);
  --lb3-achievements-btn-border-radius: 3px;
  --lb3-achievements-btn-box-shadow: 1px 3px 4px rgba(0,0,0,0.2);
  --lb3-achievements-btn-border: none;

  // REWARDS

  --lb3-rewards-header-bg-color: var(--primary-color-darken);
  --lb3-rewards-header-border-bottom: 1px solid #4c4c4c;
  --lb3-rewards-footer-bg-color: var(--primary-color-darken);
  --lb3-rewards-footer-top-border: 1px solid #4c4c4c;
  --lb3-rewards-footer-text-color: var(--light-font-color);
  --lb3-rewards-bg-color: var(--primary-background-color);
  --lb3-rewards-divider-color: #e5e2d5;
  --lb3-rewards-item-label-color: var(--primary-font-color);
  --lb3-rewards-item-body-color: var(--primary-font-color);
  --lb3-rewards-item-bg-color-hover: rgba(0, 125, 251, .2);
  --lb3-rewards-accordion-bg-color: var(--primary-color-darken);
  --lb3-rewards-accordion-hover-color: var(--primary-color-lighten);
  --lb3-rewards-details-bg-color: var(--primary-background-color);
  --lb3-rewards-details-title-color: var(--primary-font-color);
  --lb3-rewards-details-date-color: var(--primary-font-color);
  --lb3-rewards-details-body-color: var(--primary-font-color);
  --lb3-rewards-details-reward-bg-color: #173135;
  --lb3-rewards-winnings-bg-color: var(--primary-color);
  --lb3-rewards-btn-bg-color:  var(--primary-button-color);
  --lb3-rewards-btn-border: none;
  --lb3-rewards-btn-hover-color: var(--primary-color-lighten);
  --lb3-rewards-btn-border-radius: 3px;
  --lb3-rewards-btn-box-shadow: 1px 3px 4px rgba(0,0,0,0.2);

  --lb3-rewards-accordion-container-show-bg-color: var(--primary-color-darken);
  --lb3-rewards-accordion-container-show-color: var(--primary-color);

  // MESSAGES

  --lb3-messages-header-bg-color: var(--primary-color-darken);
  --lb3-messages-header-text-color: #fff;
  --lb3-messages-header-date-color: var(--primary-font-color);
  --lb3-messages-header-border-bottom: 1px solid #4c4c4c;
  --lb3-messages-item-bg-color: var(--primary-background-color);
  --lb3-messages-item-hover-color: #e5e2d5;
  --lb3-messages-item-divider-color: #e5e2d5;
  --lb3-messages-item-label-color: var(--primary-font-color);
  --lb3-messages-item-text-color: var(--primary-font-color);
  --lb3-messages-details-bg-color: var(--primary-background-color);
  --lb3-messages-details-title-color: var(--primary-font-color);
  --lb3-messages-details-date-color: var(--primary-font-color);
  --lb3-messages-details-text-color: var(--primary-font-color);
  --lb3-messages-footer-bg-color: var(--primary-color-darken);
  --lb3-messages-footer-text-color: var(--light-font-color);
  --lb3-messages-footer-top-border: 1px solid #4c4c4c;

}
