$lb3-widget-icon: url(../../images/ziqni-logo.svg);
$lb3-widget-icon-2x: url(../../images/ziqni-logo.svg);
$lb3-widget-image-banner-active-info-icon-bg-img: url(../../images/info-icon.svg);
$lb3-tournament-icon: url(../../images/big-tournament-icon.svg);
$lb3-tournament-icon-bg-image: url(../../cl-black-theme/images/big-black-btn-icon.png);
$lb3-tournament-icon-bg-image-2x: url(../../cl-black-theme/images/big-black-btn-icon-x2.png);
$lb3-tournament-header-close-back-image: url(../../cl-black-theme/images/close-icon.svg);
$lb3-tournament-header-list-back-image: url(../../cl-black-theme/images/menu.svg);
$lb3-tournament-lb-top-res-back: url(../../images/medals-v3.png);
$lb3-tournament-lb-first-place-back: url(../../images/medals.png);
$lb3-tournament-lb-second-place-back: url(../../images/medals.png);
$lb3-tournament-lb-third-place-back: url(../../images/medals.png);
$lb3-achievements-icon: url(../../images/big-challenge-icon.svg);
$lb3-achievements-icon-bg-image: url(../../cl-black-theme/images/big-black-btn-icon.png);
$lb3-achievements-icon-bg-image-2x: url(../../cl-black-theme/images/big-black-btn-icon-x2.png);
$lb3-achievements-header-close-image: url(../../cl-black-theme/images/close-icon.svg);
$lb3-rewards-icon: url(../../images/big-reward-icon.svg);
$lb3-rewards-icon-bg-image: url(../../cl-black-theme/images/big-black-btn-icon.png);
$lb3-rewards-icon-bg-image-2x: url(../../cl-black-theme/images/big-black-btn-icon-x2.png);
$lb3-rewards-header-close-image: url(../../cl-black-theme/images/close-icon.svg);
$lb3-messages-icon: url(../../images/big-message-icon.svg);
$lb3-messages-icon-bg-image: url(../../cl-black-theme/images/big-black-btn-icon.png);
$lb3-messages-icon-bg-image-2x: url(../../cl-black-theme/images/big-black-btn-icon-x2.png);
$lb3-messages-header-close-image: url(../../cl-black-theme/images/close-icon.svg);
$lb3-notification-back-image: url(../../images/big-blue-btn-icon2.png);
$prev-btn-icon-bg: url(../../images/prev-btn-icon.svg);
$lb3-widget-info-icon-bg-img: inherit;


:root {
  --primary-color:#000000;
  --primary-color-darken: #555555;
  --primary-color-lighten: #999999;

  --primary-font-color:#ffffff;
  --primary-background-color:#F9F9F9;
  --primary-background-color-hover: #d7d7d7;
  --light-font-color:#ffffff;

  --darkest-color: #212121;
  --light-grey: #b4b4b4;

  // MAIN
  --lb3-widget-font: "Gotham A", "Gotham B", "Gotham", Helvetica, Arial, serif;
  --lb3-widget-bg-color: #000000;
  --lb3-widget-border-color: #292929;
  --lb3-widget-text-color: #ffffff;
  --lb3-widget-date-text-color: #ffffff;
  --lb3-widget-header-text-color: #7a7a7a;

  --lb3-widget-navigation-icon-width: 73px;
  --lb3-widget-navigation-icon-height: 73px;
  --lb3-widget-navigation-notification-count: #e4bc1f;


  // CLOSE BTN
  --lb3-close-btn-bg-color: #000000;

  // MINI SCOREBOARD
  --lb3-miniscoreboard-close-wrapper-border: 2px solid #252525;
  --lb3-miniscoreboard-close-btn-back: #252525;
  --lb3-miniscoreboard-close-btn-color: #ffffff;
  --lb3-miniscoreboard-close-btn-font-size: 18px;

  --lb3-miniscoreboard-opt-btn-border: 1px solid #ffffff;
  --lb3-miniscoreboard-opt-btn-back: #000000;
  --lb3-miniscoreboard-opt-btn-back-hover: #292929;
  --lb3-miniscoreboard-opt-btn-color: #ffffff;
  --lb3-miniscoreboard-opt-line-height: 22px;
  --lb3-miniscoreboard-opt-font-size: 14px;

  --lb3-miniscoreboard-date-color: #7a7a7a;

  --lb3-miniscoreboard-rank-label-color: #7a7a7a;
  --lb3-miniscoreboard-points-label-color: #7a7a7a;

  // FIRST TO
  --lb3-miniscoreboard-inverse-first-to-date-color: #7a7a7a;
  --lb3-miniscoreboard-inverse-first-to-date-only-color: #ffffff;
  --lb3-miniscoreboard-first-to-header-rank-color: #7a7a7a;
  --lb3-miniscoreboard-first-to-header-points-color: #7a7a7a;

  --lb3-miniscoreboard-vertical-first-to-rank-color: #7a7a7a;
  --lb3-miniscoreboard-vertical-first-to-points-color: #7a7a7a;

  // TOURNAMENTS
  --lb3-tournament-header-back: #000000;
  --lb3-tournament-header-border-bottom: 1px solid #4c4c4c;
  --lb3-tournament-header-label-color: #b4b4b4;
  --lb3-tournament-header-date-color: #ffffff;

  --lb3-tournament-details-bg-color: #000000;
  --lb3-tournament-details-label-color: #e4bc1f;
  --lb3-tournament-footer-bg-color: #000000;
  --lb3-tournament-footer-top-border: 1px solid #4c4c4c;
  --lb3-tournament-footer-text-color: #b4b4b4;
  --lb3-tournament-container-bg-color: #000000;
  --lb3-tournament-container-text-color: #ffffff;
  --lb3-tournament-container-text-size: 12px;
  --lb3-tournament-container-height: 28px;
  --lb3-tournament-container-line-height: 28px;

  --lb3-tournament-lb-place-font-color: var(--primary-font-color);
  --lb3-tournament-lb-first-place-back-position: 0 0;
  --lb3-tournament-lb-first-place-back-size: 100%;
  --lb3-tournament-lb-first-place-color: unset;
  --lb3-tournament-lb-first-place-border: none;

  --lb3-tournament-lb-second-place-back-position: 0px -25px;
  --lb3-tournament-lb-second-place-back-size: 100%;
  --lb3-tournament-lb-second-place-color: unset;
  --lb3-tournament-lb-second-place-border: none;

  --lb3-tournament-lb-third-place-back-position: 0 -50px;
  --lb3-tournament-lb-third-place-back-size: 100%;
  --lb3-tournament-lb-third-place-color: unset;
  --lb3-tournament-lb-third-place-border: none;

  --lb3-tournament-header-text-color: #8e8e8e;
  --lb3-tournament-header-text-size: 11px;

  --lb3-tournament-top-results-bg-color: #1f1f1f;
  --lb3-tournament-top-results-bg-box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.2);
  --lb3-tournament-details-container-bg-color: #000000;
  --lb3-tournament-details-header-color: #e4bc1f;
  --lb3-image-banner-active-tournament-details-label-color: #e4bc1f;
  --lb3-tournament-details-date-color: #ffffff;
  --lb3-tournament-details-body-color: #ffffff;
  --lb3-tournament-details-link-color: #2c9ab7;
  --lb3-tournament-list-bg-color: #000000;

  --lb3-tournament-details-opt-in-back: #000000;
  --lb3-tournament-details-opt-in-back-border-top: 1px solid #b4b4b4;
  --lb3-tournament-details-opt-in-btn-back: #000000;
  --lb3-tournament-details-opt-in-btn-back-hover: #292929;
  --lb3-tournament-details-opt-in-color: #ffffff;
  --lb3-tournament-details-opt-in-border: 1px solid #ffffff;

  --lb3-tournament-list-accordion-label-back: #4c4c4c;
  --lb3-tournament-list-accordion-label-icon: #ffffff;
  --lb3-tournament-list-accordion-label-icon-show: #000000;
  --lb3-tournament-list-accordion-label-back-show: #ffffff;
  --lb3-tournament-list-accordion-label-back-hover: #7f7f7f;
  --lb3-tournament-list-accordion-label-color-show: #000000;
  --lb3-tournament-list-item-cont-border-bottom: 1px solid #b4b4b4;
  --lb3-tournament-list-item-cont-back-hover: #4c4c4c;

  --lb3-tournament-lb-active-member-row-height: 28px;
  --lb3-tournament-lb-active-member-row-back: #ffffff;
  --lb3-tournament-lb-active-member-row-color: #000000;

  --lb3-tournament-lb-opt-in-back: #000000;
  --lb3-tournament-lb-opt-in-btn-back: #000000;
  --lb3-tournament-lb-opt-in-btn-color: #ffffff;
  --lb3-tournament-lb-opt-in-btn-back-hover: #292929;
  --lb3-tournament-lb-opt-in-border: 1px solid #ffffff;

  --lb3-tournament-top-results-text-color: #ffffff;
  --lb3-tournament-lb-top-results-place-box-shadow: 1px 1px 3px #575f57;

  // ACHIEVEMENTS
  --lb3-achievements-header-bg-color: #000000;
  --lb3-achievements-header-label-color: #b4b4b4;
  --lb3-achievements-header-date-color: #b4b4b4;
  --lb3-achievements-header-border-bottom: 1px solid #4c4c4c;
  --lb3-achievements-details-bg-color: #000000;
  --lb3-achievements-container-bg-color: #000000;
  --lb3-achievements-details-header-text-color: #ffffff;
  --lb3-achievements-details-date-color: #ffffff;
  --lb3-achievements-details-body-color: #ffffff;
  --lb3-achievements-details-link-color: #2c9ab7;
  --lb3-achievements-footer-bg-color: #000000;
  --lb3-achievements-footer-top-border: 1px solid #4c4c4c;
  --lb3-achievements-footer-text-color: #b4b4b4;
  --lb3-achievements-divider-color: #6a6a6a;
  --lb3-achievements-item-label-color: #e4bc1f;
  --lb3-achievements-item-body-color: #ffffff;
  --lb3-achievements-progress-bg-color: #000000;
  --lb3-achievements-progress-fill-color: #ffffff;
  --lb3-achievements-btn-bg-color: #000000;
  --lb3-achievements-btn-hover-color: #3b3b3b;
  --lb3-achievements-btn-border-radius: 3px;
  --lb3-achievements-btn-box-shadow: 1px 3px 4px rgba(0,0,0,0.2);
  --lb3-achievements-btn-border: 1px solid #ffffff;
  --lb3-achievements-progress-border: none;
  --lb3-achievements-progress-text-color: #000000;

  // REWARDS

  --lb3-rewards-header-bg-color: #000000;
  --lb3-rewards-header-border-bottom: 1px solid #4c4c4c;
  --lb3-rewards-footer-bg-color: #000000;
  --lb3-rewards-footer-top-border: 1px solid #b4b4b4;
  --lb3-rewards-footer-text-color: #b4b4b4;
  --lb3-rewards-bg-color: #000000;
  --lb3-rewards-divider-color: #b4b4b4;
  --lb3-rewards-item-label-color: #ffffff;
  --lb3-rewards-item-body-color: #ffffff;
  --lb3-rewards-item-bg-color-hover: #3b3b3b;
  --lb3-rewards-accordion-bg-color: #4c4c4c;
  --lb3-rewards-accordion-hover-color: #7f7f7f;
  --lb3-rewards-details-bg-color: #000000;
  --lb3-rewards-details-title-color: #ffffff;
  --lb3-rewards-details-date-color: #ffffff;
  --lb3-rewards-details-body-color: #ffffff;
  --lb3-rewards-details-reward-bg-color: #ffffff;
  --lb3-rewards-winnings-bg-color: #4c4c4c;
  --lb3-rewards-btn-bg-color: #000000;
  --lb3-rewards-btn-border: 1px solid #ffffff;
  --lb3-rewards-btn-hover-color: #4c4c4c;
  --lb3-rewards-btn-border-radius: 3px;
  --lb3-rewards-btn-box-shadow: 1px 3px 4px rgba(0,0,0,0.2);

  --lb3-rewards-accordion-container-show-bg-color: #ffffff;
  --lb3-rewards-accordion-container-show-color: #000000;

  // MESSAGES
  --lb3-messages-header-bg-color: #000000;
  --lb3-messages-header-text-color: #ffffff;
  --lb3-messages-header-date-color: #ffffff;
  --lb3-messages-header-border-bottom: 1px solid #4c4c4c;
  --lb3-messages-item-bg-color: #000000;
  --lb3-messages-item-hover-color: #4c4c4c;
  --lb3-messages-item-divider-color: #4c4c4c;
  --lb3-messages-item-label-color: #ffffff;
  --lb3-messages-item-text-color: #ffffff;
  --lb3-messages-details-bg-color: #000000;
  --lb3-messages-details-title-color: #ffffff;
  --lb3-messages-details-date-color: #ffffff;
  --lb3-messages-details-text-color: #ffffff;
  --lb3-messages-footer-bg-color: #000000;
  --lb3-messages-footer-text-color: #b4b4b4;
  --lb3-messages-footer-top-border: 1px solid #b4b4b4;

}
