<div class="cl-rank-col cl-col">{{ rankColLabel }}</div>
<div class="cl-icon-col cl-col"></div>
<div class="cl-name-col cl-col">{{ nameColLabel }}</div>
<div class="cl-growth-col cl-col"></div>
<div class="cl-points-col cl-col">{{ pointsColLabel }}</div>
<div class="cl-reward-col cl-col {{#if rewardEnabled}}cl-col-reward-enabled{{/if}}">{{ rewardColLabel }}</div>