<div class="cl-inbox-list-details-cont">
  <div class="cl-inbox-list-details-wrap">
    <div class="cl-inbox-list-details-label">{{ subject }}</div>
    <div class="cl-inbox-list-details-description">{{ description }}</div>
  </div>
  <div class="cl-inbox-list-details-date">{{ date }}</div>
</div>
