<div class="cl-missions-list-details-cont">
  <div class="cl-missions-list-details-wrap">
    <div class="cl-missions-list-details-img" style="{{ bgImage }}">
      <div class="cl-missions-list-details-date"></div>
    </div>
    <div class="cl-missions-list-details-label">{{ name }}</div>
    <div class="cl-missions-list-details-progress">
      <div class="cl-missions-list-details-progress-cont">
        <div class="cl-missions-list-details-progress-bar"></div>
      </div>
      <div class="cl-missions-list-details-progress-label">0/100</div>
    </div>
    <div class="cl-missions-list-details-actions">
      <div class="cl-missions-list-details-actions-reward">{{ reward }}</div>
      <div class="cl-missions-list-details-actions-btn">{{ actionsBtnLabel }}</div>
    </div>
  </div>
</div>